/* Tags */
	body {
		color: #333;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 14px;
		line-height: 20px;
		overflow-x: hidden;
	}
	h1 {
		padding-right: 0;
		color: #838b9c;
		font-family:'Great Vibes', cursive;
		font-size: 45px;
		line-height: 80px;
		font-weight: 400;
		letter-spacing: 7px;
		margin-top: 20px;
		margin-bottom: 10px;
		text-shadow: none;
	}
	h2 {
		margin-top: 20px;
		margin-bottom: 10px;
		box-shadow: none;
		font-family:'Great Vibes', cursive;
		color: #faefd2;
		font-size: 50px;
		line-height: 63px;
		font-style: italic;
		font-weight: 400;
		text-align: center;
		text-shadow: none;
	}
	h3 {
		margin-top: 20px;
		margin-bottom: 10px;
		font-family: Lato, sans-serif;
		font-size: 34px;
		line-height: 30px;
		font-weight: 700;
		text-align: right;
	}
	h4 {
		margin-top: 10px;
		margin-bottom: 20px;
		font-family:'Lato';
		color: #485c7a;
		font-size: 37px;
		line-height: 45px;
		font-style: italic;
		font-weight: 300;
		text-align: center;
		text-shadow: none;
	}
	h5 {
		margin-top: 15px;
		margin-bottom: 15px;
		font-family:'Great Vibes', cursive;
		color: black;
		font-size: 32px;
		line-height: 27px;
		font-style: normal;
		font-weight: 400;
		text-shadow: none;
	}
	h6 {
		margin-top: 10px;
		margin-bottom: 20px;
		font-family: Lato, sans-serif;
		color: black;
		font-size: 25px;
		line-height: 18px;
		font-weight: 700;
		text-align: right;
		text-shadow: none;
	}
	p {
		position: relative;
		left: 0;
		top: 0;
		right: 0;
		display: inline-block;
		margin-bottom: 5px;
		font-family: Lato, sans-serif;
		color: #838b9c;
		font-size: 18px;
		line-height: 20px;
		font-style: italic;
		font-weight: 300;
		text-align: left;
		text-shadow: none;
	}
/* class */
	/* .b */
		.barra_superior {
			margin: -37px 200px 0 14%;
		}
		/* .barra_superior */
			.decor {
				margin-left: 22%;
			}
		.barra_superior.inicio {
			margin-left: 25%;
		}
		.barra_superior.servicios {
			margin-left: 23%;
		}
		.blocks-row {
			margin-bottom: 20px;
		}
			.info_fondo_gris {
				border-radius: 10px 10px 10px 0;
				-moz-border-radius: 10px 10px 10px 0;
				-webkit-border-radius: 10px 10px 10px 0;
				background-color: rgba(131, 139, 156, 0.09);
			}
			.info_fondo_gris-2 {
				border-radius: 10px 10px 10px 10px;
				-moz-border-radius: 10px 10px 10px 10px;
				-webkit-border-radius: 10px 10px 10px 10px;
				background-color: rgba(131, 139, 156, 0.09);
			}
		.blue-link-group {
			display: block;
			float: right;
			margin: -15px -5px 0 0;
			padding-top: 0.3%;
		}
		.blue-link-group-2 {
			display: block;
			float: right;
			margin: -25px 0 0 0;
		}
		.blue-link {
			display: inline-block;
			margin: 0;
			padding: 0;
			font-family: Lato, sans-serif;
			color: #3d91bd;
			font-size: 1.3em;
			font-style: italic;
			font-weight: 300;
			text-decoration: none;
			vertical-align: top;
		}
		.blue-link:hover {
			border-bottom-style: solid;
			border-bottom-width: 1px;
			color: #3d91bd;
		}
		.bottom-footer-block {
			margin-top: 150px;
			padding: 20px 0 24px 0;
			background-color: #e3e6e8;
			text-align: center;
		}
		.buffet_text {
			margin-top: 10px;
			margin-bottom: 5px;
			padding: 5px;
			border-style: solid;
			border-width: 1px;
			border-color: rgba(0, 0, 0, 0.1);
			border-radius: 5px;
			text-align: right;
			text-shadow: none;
		}
		.button {
			border: 2px solid white;
			border-radius: 30px;
			background-color: rgba(131, 139, 156, 0.70);
			transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
			-webkit-transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
			        transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
			color: white;
			display: inline-block;
			font-family:'Great Vibes', cursive;
			font-size: 24px;
			font-weight: 300;
			letter-spacing: 2px;
			line-height: 20px;
			margin-top: 0;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
		}
		.button:hover {
			background-color: white;
			color: black;
		}
			._2 {
				position: relative;
				margin-left: 14%;
				margin-right: -1.6px;
				font-size: 13px;
			}
			.btn-black {
				border: 3px solid black;
				border-radius: 30px;
				background-color: transparent;
				color: black;
				font-family:'Great Vibes', cursive;
				font-size: 1.5em;
				font-weight: 600;
				letter-spacing: 2px;
				padding: 6px 30px;
				text-decoration: none;
				-webkit-transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
				        transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
			}
			.btn-black:hover {
				border: 3.5px solid rgb(20, 0, 20);
				background-color: rgba(0, 0, 0, 0.9);
				color: white;
			}
			.btn-black-2 {
				border: 3px solid black;
				border-radius: 30px;
				background-color: transparent;
				color: black;
				display: block;
				font-family:'Great Vibes', cursive;
				font-size: 1.5em;
				font-weight: 300;
				letter-spacing: 2px;
				margin: 10px 0 0 43%;
				text-decoration: none;
				-webkit-transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
				        transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
				width: 150px;
			}
			.btn-black-2:hover {
				border: 3.5px solid rgb(20, 0, 20);
				background-color: rgba(0, 0, 0, 0.9);
				color: white;
			}
			.cta-1 {
				display: inline-block;
				border: 3px solid white;
				border-radius: 30px;
				background-color: white;
				font-family:'Great Vibes', cursive;
				color: black;
				font-size: 22px;
				font-weight: 300;
			}
			.cta-1:hover {
				border-color: black;
				background-color: black;
				color: white;
			}
			.cta-2 {
				margin-left: 10px;
				border: 3px solid white;
				border-radius: 30px;
				background-color: transparent;
				font-size: 22px;
			}
			.cta-2:hover {
				border-color: black;
				background-color: black;
				color: white;
			}
			.cta-2.negro._1.testimonio {
				display: block;
				margin: 10px 0 10px 45%;
				width: 140px;
			}
			.cta-2.negro {
				margin-left: 10px;
				border-color: black;
				color: black;
				display: block;
				margin: 0 auto;
				position: relative;
				top: 10px;
				width: 90%;
			}
			.cta-2.negro._1 {
				left: 0;
				margin-top: 0;
				margin-bottom: -1px;
			}
			.cta-2.negro._3 {
				width: 140px;
			}
			.cta-2.negro._4 {
				margin: 0;
			}
			.cta-2.negro._5 {
				margin: 0;
			}
			.cta-2.negro:hover {
				border-color: #838b9c;
				background-color: white;
				color: black;
			}
			.cta-2.portada {
				border-width: 2px;
				border-radius: 25px;
				font-family:'Great Vibes', cursive;
				font-size: 22px;
				font-weight: 400;
				letter-spacing: 3px;
				line-height: 20px;
				width: 150px;
			}
			/* .cta-2.portada	*/
				.btn-services {
					display: block;
					margin-left: 42%;
				}
			.cta-2.portada.inicio {
				display: block;
				margin: 0 auto;
			}
			.cta-2.portada.start {
				display: block;
				margin: 20px 0 0 42%;
			}
			.cta-2.portada._4 {
				left: 30%;
				margin-left: auto;
				border-width: 3px;
			}
			.cta-2.portada.boton_lateral {
				margin-right: 0;
				margin-left: -59px;
			}
			.submit {
				width: 100%;
				background-color: black;
			}
			.submit:hover {
				border-color: #3e95c7;
				background-color: #3e95c7;
				color: white;
			}
			.submit._1 {
				border-width: 2px;
				border-radius: 2px;
				font-family: Lato, sans-serif;
				font-size: 17px;
				font-weight: 300;
				letter-spacing: 2px;
				line-height: 17px;
				margin-right: 10px;
				margin-left: 0;
				padding: 3px 0 5px 5px;
				width: 100%;
			}
			.submit._2 {
				background-color: black;
				display: inline-block;
				font-size: 24px;
				margin: 3% 0 5% 20%;
				vertical-align: top;
				width: 35%;
				}
			.submit._2:hover {
				background-color: #3e95c7;
			}
			.submit._2.b {
				margin: 3% 0 0 0;
				}
			.subir {
				position: fixed;
				right: 15px;
				bottom: 0px;
				margin-right: 0px;
				margin-bottom: 0px;
				padding: 10px;
				border-style: none;
				border-radius: 5px 5px 0px 0px;
				background-color: rgba(8, 7, 7, 0.4);
				font-family: Lato, sans-serif;
				color: white;
				font-size: 22px;
				font-style: italic;
				font-weight: 700;
				text-shadow: none;
			}
			.subir.home {
				background-image: url('../images/home-icon-g_2.png');
				background-position: 50% 80%;
				background-size: 38px;
				background-repeat: no-repeat;
				height: 45px;
				min-width: 42px;
				margin-right: 40px;
				padding: 0 10px;
				right: 15px;
			}
			.subir.contacto {
				background-image: url('../images/contacto-icon_2.svg');
				background-position: 50% 85%;
				background-size: 22px;
				background-repeat: no-repeat;
				height: 45px;
				min-width: 40px;
				margin-right: 0px;
				padding: 10px;
				right: 10px;
			}
			.boton_barra_superior {
				background-color: rgba(8, 7, 7, 0.8);
				border-style: none;
				border-radius: 0;
				border-width: 0;
				font-family: Lato, sans-serif;
				font-size: 13px;
				font-weight: 300;
				margin: 0 -1.4px 0 -2.4px;
				padding: 8px 10px 9px;
				position: relative;
				width: auto;
			}
			.boton_barra_superior:hover {
				background-color: #faefd2;
			}
			.boton_barra_superior._3 {
				margin-left: 20px;
				padding-right: 10px;
				padding-left: 10px;
				border-width: 0;
				background-color: rgba(8, 7, 7, 0.70);
				font-size: 13px;
			}
			.boton_barra_superior._3:hover {
				background-color: #faefd2;
				color: black;
			}
	/*.c */
		.centered {
			margin-bottom: 10px;
			padding-bottom: 5px;
			text-align: center;
			text-shadow: none;
		}
		.contact-form-container {
			padding-right: 100px;
			padding-left: 100px;
		}
		.contact-page-map {
			position: relative;
			z-index: 0;
			height: 800px;
		}
		.container {
			padding-right: 75px;
			padding-left: 75px;
		}
			/* .container */
			.work-navigation {
				margin-top: 50px;
				box-shadow: none;
				text-shadow: none;
			}
		.cta-container {
			text-align: center;
			text-shadow: none;
		}
		.cta-stripe {
			background-attachment: fixed;
			margin-right: 176px;
			padding-top: 100px;
			padding-bottom: 100px;
		}
		.cta-stripe.banquete {
			background-size: cover;
		}
		.cta-stripe.separador_escenografia {
			background-image: url('../images/separador-escenografia_web_1.jpg');
			background-size: cover;
		}				
		.playa {
			background-image: url('../images/boda-mar-web_0.jpg');
			background-position: 37% 50%;
			background-attachment: scroll;

		}
		.clasicas {
			background-image: url('../images/separador_boda_clasica_2.jpg');
			background-size: cover;
			background-attachment: fixed;

		}
		.simbolicas {
			background-image: url('../images/separador_boda_simbolica_web_2.jpg');
			background-size: cover;
			background-attachment: fixed;
		}
		.aniversarios {
			background-image: url('../images/separador-aniversario_web_0.jpg');
			background-attachment: fixed;
		}
		.luz {
			background-image: url('../images/separador_luz_web_2.jpg');
			background-attachment: fixed;
		}
		.banquete {
			background-image: url('../images/separador_cenas-y-almuerzos-servidos_0.jpg');
			background-attachment: fixed;
		}
		.separador_contacto {
			background-image: url('../images/separador-contacto_web_0.jpg');
			background-position: 50% 30%;
			background-size: cover;
			background-repeat: repeat-x;
		}
		.separador_buffet {
			background-image: url('../images/separador-buffet_0.jpg');
		}
		.separador_gourmet {
			background-image: url('../images/fondo_gourmet_editada.jpg');
			background-position: 0 43%;
			background-size: cover;
			background-attachment: fixed;

		}
		.separador_ambient {
			background-image: url('../images/Ambientacion_web_0.jpg');
			background-position: 0% 4%;
			background-size: cover;
			background-repeat: repeat;
			background-attachment: fixed;

		}
		.separador_deco {
			background-image: url('../images/Decoracion_web_0.jpg');
			background-position: 39% 15%;
			background-size: 1750px;
			background-attachment: fixed;

		}
		.separador_mobiliario {
			background-image: url('../images/separador-0.jpg');
			background-size: cover;
			background-attachment: scroll;

		}
		.separador_salas_bar {
			background-image: url('../images/separador_salas_bar_luces_web_0.jpg');
			background-attachment: fixed;

		}
		.separador_locaciones {
			background-image: url('../images/separador_locaciones_web_0.jpg');
			background-position: 50% 100%;
			background-size: cover;
			background-attachment: scroll;

		}
		.separador_shows {
			background-image: url('../images/separador_pistas_shows_web_0.jpg');
			background-size: cover;
			background-attachment: fixed;
		}
		.escultura_hielo {
			background-image: url('../images/separador_escultura_web_0.jpg');
			background-position: 100% 0;
			background-repeat: repeat-x;
		}
		.separador_mesas {
			border-style: solid;
			border-width: 1px;
			border-color: rgba(131, 139, 156, 0.2);
			background-image: url('../images/separador-mesas_gourmet_web_2.jpg');
			background-position: -150px 0;
			background-size: cover;
			background-attachment: scroll;
		}
		.separador_licores {
			margin-right: 176px;
			border-style: solid;
			border-width: 1px;
			border-color: rgba(131, 139, 156, 0.2);
			background-image: url('../images/separador_licores_web_2.jpg');
			background-position: 50% 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: scroll;
		}
		.cta-title {
			display: block;
			margin-top: 20px;
			margin-bottom: 10px;
			font-size: 45px;
			line-height: 48px;
			font-weight: 400;
			text-shadow: black 5px 0px 17px, black 1px -1px 2px;
		}
	/* .d */
		.drcha {
			text-align: right;
			text-shadow: none;
		}
		.divider-small {
			position: relative;
			left: 88%;
			display: block;
			width: 100px;
			height: 4px;
			margin-top: 30px;
			margin-bottom: 50px;
			float: none;
			background-color: #e3e6e8;
		}
		.divider-small.centered {
			left: auto;
			margin-right: auto;
			margin-left: auto;
			background-color: #e3e6e8;
			text-shadow: none;
		}
	/* .e */
		.error-message {
			padding-top: 17px;
			text-align: center;
		}
		.error-text {
			color: #bd4131;
			font-size: 14px;
		}
	/* .f */
		.face {
			margin-top: 50px;
		}
		.footer_link {
			display: block;
			margin-left: 0;
		}
		.form-text {
			margin: 15px 5px 5px 0;
			margin-top: 15px;
			margin-right: 10px;
			margin-left: 0;
			direction: ltr;
			font-family: Lato, sans-serif;
			color: white;
			font-size: 13px;
			line-height: 13px;
			letter-spacing: 2px;
			font-weight: 300;
			text-align: right;
		}
		.field {
			height: 44px;
			padding-left: 24px;
			border: 2px solid black;
			background-color: rgba(211, 220, 227, 0.4);
			font-family: Lato, sans-serif;
			font-size: 18px;
		}
		.field:hover {
			border-width: 2px;
			border-color: #d3dce3;
			background-color: rgba(255, 255, 255, 0.4);
		}
		.field:active {
			border-color: #a5b7c4;
		}
		.field:focus {
			border-color: black;
			box-shadow: rgba(255, 255, 255, 0.49) 0px 0px 0px 0px inset, white 0px 0px 0px 0px;
		}
		.field.area {
			height: 160px;
			box-shadow: none;
		}
		.field._2 {
			display: inline-block;
			width: 45%;
			margin-left: 0px;
			box-shadow: none;
			text-shadow: none;
		}
		.field._3 {
			display: inline-block;
			width: 45%;
			margin-left: 10px;
			box-shadow: none;
			text-shadow: none;
		}
		.footer {
			margin-right: 176px;
			padding-top: 150px;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}
		.footer-column {
			text-align: center;

		}
		.footer-column:hover {
			-webkit-transform: scale(1.04);
			-ms-transform: scale(1.04);
			    transform: scale(1.04);
		}
		.footer-icon {
			position: relative;
			left: 0;
			top: 0;
			right: 0;
			display: block;
			width: auto;
			height: 30px;
			margin-bottom: 15px;
			margin-left: 40%;
			padding-left: 0;
			text-align: left;
			text-shadow: none;
		}
		.footer-row {
			margin-top: 75px;
		}
		.footer-text {
			display: block;
			text-align: center;
		}
	/* .g */
		.gourmet {
			top: -300px;
			z-index: 200;
			padding-top: 0;
			padding-bottom: 0;
			box-shadow: none;
		}
		.gourmet_block {
			padding-right: 10px;
			padding-left: 10px;
			border-style: solid;
			border-width: 1px;
			border-color: rgba(0, 0, 0, 0.09);
			border-radius: 10px;
		}
		.gourmet-quote {
			padding: 0 5% 2.5% 5%;
			color: #faefd2;
			font-size: 22px;
			line-height: 24px;
			text-align: center;
		}
		.gourmet._2 {
			margin: 330px 0 0 0;
			background-image: -webkit-linear-gradient(273deg, transparent 39%, rgba(18, 0, 18, 0.6) 57%, #120013 92%), url('../images/Gourmet_editada-3.jpg');
			background-image: -webkit-linear-gradient(273deg, transparent 39%, rgba(18, 0, 18, 0.6) 57%, #120012 92%), url('../images/Gourmet_editada-3.jpg');
			background-image: linear-gradient(177deg, transparent 39%, rgba(18, 0, 18, 0.6) 57%, #120012 92%), url('../images/Gourmet_editada-3.jpg');
			background-size: auto, cover;
		}
	/* .h */
		.h3-centered {
			font-family:'Great Vibes', cursive;
			font-size: 55px;
			text-align: center;
		}
		.h3-centered.form {
			margin-top: 8%;
		}
		.h4-white {
			font-family:'Great Vibes', cursive;
			color: #faefd2;
			font-size: 28px;
			font-weight: 400;
		}
		.h2_gourmet {
			font-size: 49px;
			margin-top: 10px;
			padding-top: 10px;
		}
		.h5_drcha {
			text-align: right;
		}
		.header {
			height: 800px;
			padding-top: 273px;
			padding-bottom: 50px;
			background-color: #5a5a69;
			background-image: -webkit-linear-gradient(rgba(90, 90, 105, 0) 12%, #405630), url('../images/portada-servicios_web_1.jpg');
			background-image: linear-gradient(rgba(90, 90, 105, 0) 12%, #405630), url('../images/portada-servicios_web_1.jpg');
			background-position: 0% 0%, 0px 0px;
			background-size: auto, cover;
			background-repeat: repeat, no-repeat;
		}
		.header.ambient {
			background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 43%, #faefd2 91%), url('../images/Ambientacion_web_1.jpg');
			background-image: linear-gradient(rgba(0, 0, 0, 0) 43%, #faefd2 91%), url('../images/Ambientacion_web_1.jpg');
			background-position: 0% 0%, 0% 0%;
			background-size: auto, 1800px;
			background-repeat: repeat, no-repeat;
		}
		.header.contact-page {
			position: relative;
			z-index: 50;
			height: 300px;
			min-height: 200px;
			margin-top: -300px;
			padding-top: 54px;
			padding-bottom: 0px;
			background-color: transparent;
			background-image: -webkit-linear-gradient(rgba(211, 220, 227, 0), #e4e8ed 65%);
			background-image: linear-gradient(rgba(211, 220, 227, 0), #e4e8ed 65%);
			background-position: 0% 0%;
			background-size: auto;
			background-repeat: repeat;
		}
		.header.deco {
			background-image: -webkit-linear-gradient(272deg, transparent 43%, rgba(250, 239, 210, 0.29) 62%, #faefd2 87%), url('../images/Decoracion_web_2.jpg');
			background-image: linear-gradient(178deg, transparent 43%, rgba(250, 239, 210, 0.29) 62%, #faefd2 87%), url('../images/Decoracion_web_2.jpg');
			background-size: auto, 1750px;
		}
		.header-nosotros {
			height: auto;
			min-height: 700px;
			margin-top: -15px;
			background-color: black;
			background-image: -webkit-linear-gradient(transparent 55%, black), url('../images/nosotros.jpg');
			background-image: linear-gradient(transparent 55%, black), url('../images/nosotros.jpg');
			background-position: 85% 75%;
			background-size: contain;
			background-repeat: repeat, no-repeat;
		}
		.header.story-detail {
			background-image: -webkit-linear-gradient(rgba(60, 63, 77, 0) 30%, #faefd2 85%), url('../images/portada_testimonios_web_0.jpg');
			background-image: linear-gradient(rgba(60, 63, 77, 0) 30%, #faefd2 85%), url('../images/portada_testimonios_web_0.jpg');
			background-size: auto, 1944px;
		}
		.home-slider {
			height: 800px;
			background-color: transparent;
		}
		.home-slide {
			border-bottom-style: none;
			border-bottom-color: transparent;
			background-image: -webkit-linear-gradient(278deg, transparent 39%, rgba(0, 0, 0, 0.6) 60%, #120012 86%), url('../images/nicio_portada_web_2.jpg');
			background-image: linear-gradient(172deg, transparent 39%, rgba(0, 0, 0, 0.6) 60%, #120012 86%), url('../images/nicio_portada_web_2.jpg');
			background-position: 0% 0%, 50% 50%;
			background-size: cover;
			background-repeat: repeat, no-repeat;
		}
		.home-slide._2 {
			/*border-bottom-width: 0;*/
			background-image: -webkit-linear-gradient(273deg, transparent 39%, rgba(13, 0, 13, 0.6) 57%, #120012 92%), url('../images/Gourmet_editada-3.jpg');
			background-image: linear-gradient(177deg, transparent 39%, rgba(13, 0, 13, 0.6) 57%, #120012 92%), url('../images/Gourmet_editada-3.jpg');
			background-size: auto, cover;
			margin: 0 176px 0 0;
		}
		.home-slide._3 {
			display: inline-block;
			padding-top: 15px;
			padding-right: 15px;
			padding-left: 0;
			background-image: -webkit-linear-gradient(278deg, transparent 39%, rgba(0, 0, 0, 0.6) 60%, #120012 86%), url('../images/Decoracion_web_2.jpg');
			background-image: linear-gradient(172deg, transparent 39%, rgba(0, 0, 0, 0.6) 60%, #120012 86%), url('../images/Decoracion_web_2.jpg');
			background-position: 0 0, 50% 0;
			background-size: auto, cover;
		}
		.home-slide._4 {
			background-image: -webkit-linear-gradient(272deg, transparent 33%, rgba(0, 0, 0, 0.54) 56%, #120012 92%), url('../images/Ambientacion_web_1.jpg');
			background-image: linear-gradient(178deg, transparent 33%, rgba(0, 0, 0, 0.54) 56%, #120012 92%), url('../images/Ambientacion_web_1.jpg');
			background-position: 0% 0%, 50% 100%;
		}
	/* .i */
		.image-logo-ambient {
			margin: 0 auto;
		}
		.image-logo-gourmet {
			margin: 0 0 20px 0;
			padding: 0;
		}
		.image-logo-services {
	margin: 0 0 15px 0;
}
		.image-logo-nosotros {
			display: inline-block;
			margin-top: 30px;
			margin-right: 57px;
			margin-left: 0;
			padding-right: 0;
			padding-bottom: 15px;
			padding-left: 0;
		}
		.image_logo_testimonios {
			display: block;
			margin: -20px 0 0 0;
		}
		.image-block {
			display: block;
			min-height: 360px;
			padding: 100px 30px 30px 31px;
			border: 0 solid #b3b3b3;
			/*background-image: url('../images/centros-mesa_web_0.jpg');*/
			background-size: 600px;
			text-align: center;
		}
		.image-block:hover {
			opacity: 0.8;
		}
		/* .image-block */
			.info_image_2_columns {
				margin-left: -10px;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
			}
			/* .image-block.info_image_2_columns */
				.aniversario {
					background-image: url('../images/aniversario-bodas_web_0.jpg');
					background-size: cover;
				}
				.boda_clasica {
					background-image: url('../images/boda-clasica_0.jpg');
					background-position: 55% 0%;
					background-size: cover;
				}
				.image_oriental {
					border-width: 0px;
					background-image: url('../images/buffet-oriental_web_0.jpg');
					background-size: 645px;
				}
				.image_luces {
					background-image: url('../images/luces_web_0.jpg');
					background-position: 0% 31%;
					background-size: cover;
				}
				.image_open_bar {
					background-image: url('../images/barra_web_0.jpg');
					background-size: cover;
				}
				.image_locaciones {
					background-image: url('../images/locaciones_web_0.jpg');
					background-size: cover;
				}

				.imagen_drcha {
					border-radius: 0 10px 10px 0;
					-webkit-border-radius: 0 10px 10px 0;
					-moz-border-radius: 0 10px 10px 0;
					margin-right: -10px;
				}
				/* .image-block.imagen_drcha */
					.boda_playa {
						background-image: url('../images/boda_playa_0.jpg');
						background-size: cover;
						border-radius: 0 10px 10px 0;
					}
					.boda_simbolica {
						background-image: url('../images/boda_simbolica_0.jpg');
						background-size: cover;
					}
					.escultura_hielo {
						background-image: url('../images/esculturas-de-hielo_web_0.jpg');
						background-position: 0% 53%;
						background-size: cover;
					}
					.image_silla {
						background-image: url('../images/Sillas-Transparentes-web_0.jpg');
						background-size: cover;
					}
					.internacional {
						border-width: 0px;
						background-image: url('../images/buffet_italiano_web_0.jpg');
						background-position: 50% 0%;
					}
					.image_criollo {
						border-width: 0px;
						background-image: url('../images/buffet-criollo-web_0.jpg');
						background-position: 40% 0%;
						background-size: cover;
					}
					.otros {
						background-image: url('../images/IMAG-OTRO-3.png');
						background-size: cover;
					}
					.right-image-2 {
						border-radius: 0 10px 10px 0;
						-webkit-border-radius: 0 10px 10px 0;
						-moz-border-radius: 0 10px 10px 0;
						margin: 0 -10px 0 0;
					}
					/* .image-block.right-image-2 */
						.toldo {
							background-image: url('../images/toldo_web_0.jpg');
							background-size: cover;
							min-height: 410px;
						}
			.image_mesa_carnes {
				border-width: 0px;
				background-image: url('../images/mesa-carnes-web_0.jpg');
				background-size: 602px;
			}
			.image_mesa_jamon {
				background-image: url('../images/mesa-de-jamon-y-queso_web_0.jpg');
				background-size: 600px;
			}
			.image_mesa_shusi {
				background-image: url('../images/mesa-suchi_web_0.jpg');
				background-size: 600px;
			}
			.image_mesa_dulces {
				background-image: url('../images/mesa-dulces_web_0.jpg');
			}
			.image_licores {
				background-image: url('../images/Licores_web_0.jpg');
				background-position: 0% 0%;
				background-size: cover;

			}
			.image_entremes_frio {
				background-image: url('../images/Entremes-frio_web_1.jpg');

			}
			.image_entremes_caliente {
				background-image: url('../images/Entremes-caliente_web_2.jpg');

			}
			.image_entremes_dulce {
				background-image: url('../images/Entremes-dulce_web_0.jpg');

			}
			.image_mesas_redondas {
				background-image: url('../images/mesas-redondas-clasicas_web_0.jpg');
			}
			.image_mesas_cuadradas {
				background-image: url('../images/mesa-cuadrada_web_1.jpg');
				background-size: 550px;
			}
			.image_sala_tradicional {
				background-image: url('../images/sala_lounge-tradicional_web_0.jpg');
				background-position: 78% 0;
				background-size: 600px;
			}
			.image_sala_moderna {
				background-image: url('../images/lounge-moderno_web_0.jpg');
				background-position: 50% 30%;
				background-size: 650px;
			}
			.image_sala_minimal {
				background-image: url('../images/salas-lounge-minimalista_web_0.jpg');
				background-position: 85% 0%;
				background-size: 650px;
				background-repeat: no-repeat;
			}
			.image_pista_madera {
				background-image: url('../images/pista-madera_web_1.jpg');
				background-position: 77% 6%;
				background-size: cover;
			}
			.image_pista_acrilicos {
				background-image: url('../images/pista-acrilico_web_0.jpg'), url('../images/example-bg.png');
				background-position: 9% 50%, 50% 50%;
				background-size: 600px, cover;
			}
			.image_pista_leds {
				background-image: url('../images/pista_leds_web_0.jpg');
				background-size: 600px;
			}
			.image_hora_loca {
				background-image: url('../images/hora-loca-web_0.jpg'), url('../images/example-bg.png');
				background-position: 0% 0%, 50% 50%;
				background-size: cover, auto;
			}
			.image_danzas {
				background-image: url('../images/show-danzas_web_0.jpg');
				background-position: 0% 31%;
				background-size: cover;
			}
			.image_acrobata {
				background-image: url('../images/show-acrobata_web_0.jpg'), none;
				background-position: 0% 0%, 0% 0%;
				background-size: 398px, auto;
				background-repeat: repeat, repeat;
				background-attachment: scroll, scroll;
			}
			.image_marco_criollo {
				background-image: url('../images/marco-criollo_web_0.jpg');
				background-size: 355px;
			}
			.image_orquesta {
				background-image: url('../images/orquesta_web_0.jpg');
				background-size: cover;
			}
			.image_maestro {
				background-image: url('../images/maestro-de-ceremonia_web_0.jpg');
				background-size: cover;
			}
			.image_arreglos {
				background-image: url('../images/arreglos-flores_web_1.jpg');
				background-position: 0% 11%;
				background-size: cover;
			}
			.image_centro_mesa {
				background-image: url('../images/centros-mesa_web_0.jpg');
			}
			.image_escena {
				background-image: url('../images/escenografia_web_0.jpg');
				background-position: 0% 101%;
				background-size: cover;
			}
			.image_deco_iglesia {
				background-image: url('../images/deco-iglesia_web_0.jpg');
				background-position: 17% 0%;
				background-size: 700px;
			}
			.image_vintage {
				background-image: url('../images/boda_vintage_1.jpg');
				background-position: 50% 0%;
				background-size: cover;
			}
			.image_buffet_internacional {
				background-image: url('../images/buffet-oriental_web_0.jpg');
				background-position: 65% 0%;
				background-size: 645px;
			}
			.image_banquete {
				background-image: url('../images/separador_cenas-y-almuerzos-servidos_0.jpg');
				background-position: 34% 0%;
				background-size: cover;
			}
			.image_toldos_arquitecto {
				background-image: url('../images/toldo_web_0.jpg');
				background-position: 63% 40%;
				background-size: 800px;
			}
			.image_silla {
				background-image: url('../images/Sillas-Transparentes-web_0.jpg');
			}
			.image_coctel {
				background-image: url('../images/coctel_web_0.jpg');
				background-position: 17% 0%;
				background-size: 635px;
			}
			.image_bebidas {
				border-width: 1px;
				border-color: rgba(131, 139, 156, 0.2);
				background-image: url('../images/bebidas_web_0.jpg');
				background-position: 68% 0%;
				background-size: cover;
				background-repeat: repeat-x;
			}
			.service {
				background-image: url('../images/boda_vintage_0.jpg');
				background-size: 583px;
			}
			.sonido {
				background-image: url('../images/sonido_web_0.jpg');
				background-size: 450px;
				display: block;
				margin: 0 -10px 0 10px;
				border-radius: 0 10px 10px 0;
			}
			.right {
				margin-left: 0;
			}
			.vintage {
					background-image: url('../images/boda_vintage_1.jpg');
					background-size: 693px;
				}
		.info-block {
			min-height: 320px;
			padding: 30px;
			border: 1px solid #838b9c;
			font-family: Lato, sans-serif;
			color: #838b9c;
			font-size: 16px;
			line-height: 24px;
			font-weight: 300;
			text-align: left;
			text-shadow: none;
		}
		.info-block:hover {
			opacity: 0.8;
		}
		.info-block.buffet_box {
			min-height: 0px;
			padding: 0px 5px;
			border-style: none;
			border-width: 0px;
			text-shadow: none;
		}
		.info-block.mesas_box {
			min-height: 0;
			margin-bottom: 30px;
			padding: 5px 10px 6px 0;
			border-color: rgba(0, 0, 0, 0.36);
		}
		.info-row {
			min-height: 320px;
			margin-bottom: 45px;
		}
		.inicio_arrow {
			border-bottom-style: none;
			border-bottom-width: 0;
		}
		.inicio_arrow:hover {
			background-color: rgba(131, 139, 156, 0.2);
		}
		.inicio_arrow.arrow_drcha {
			margin-right: 176px;
		}
		.intro-content {
			background-color: #120012;
			height: 260px;
			padding: 0 15% 0 0;
		}
		.intro-content.about-us {
			background-color: black;
			height: 290px;
		}
		.intro-content.contact-page {
			background-color: #e4e8ed;
			box-shadow: none;
			clear: both;
			height: 500px;
			margin-right: 176px;
			text-shadow: none;
			width: 100%;
		}
		.intro-content.stories {
			height: 400px;
			margin-top: -440px;
			padding-top: 30px;
			background-color: #120012;
			text-align: center;
		}
		/*.intro-content.stories*/
			.stripe-gourmet {
				margin: 0 auto;
				width: 100%;
			}
		.intro-content.story-detail {
			height: 350px;
			background-color: #faefd2;
			text-align: center;
		}
		.intro-content.ambient {
			background-color: #faefd2;
		}
		.intro-content.separador_deco {
			background-color: #faefd2;
			box-shadow: none;
			text-shadow: none;
		}
		.intro-container {
			height: 280px;
			padding-top: 1px;
			padding-right: 150px;
			padding-left: 150px;
			background-color: #faefd2;
			text-align: left;
		}
		.intro-container.intro {
			position: relative;
			top: 270px;
			z-index: 100;
			margin-top: 0;
			margin-bottom: -285px;
			padding: 0 170px 0 0;
			background-color: transparent;
			text-align: center;
		}
		/* .intro-container.intro */

		.intro-container.pages {
			height: auto;
			margin-top: 11px;
			padding: 30px 170px 60px 0;
			background-color: transparent;
			text-align: center;
		}
		.intro-container.pages.gourmet {
			padding-top: 230px;
			padding-bottom: 0;
		}
		.intro-container.pages.servicios {
			padding-top: 30px;
		}
		.intro-container.intro.deco {
			margin-top: -25%;
		}
		.intro-container.intro.testimony {
				margin-top: -20%;
			}
		.intro-container.pages.ambient {
			margin-left: auto;
			margin-right: auto;
			padding-top: 50px;
			padding-bottom: 50px;
		}
		.intro-container.cta_servicios {
			background-color: #405630;
		}
				/* background-image: url('../images/buffet-oriental_web_0.jpg'); */
	/* .l */
		.link {
			display: inline-block;
			margin: 2px 10px 0 0;
			padding-top: 0;
			float: right;
			font-family: Lato, sans-serif;
			color: #3d91bd;
			font-size: 1.3em;
			font-style: italic;
			font-weight: 300;
			text-decoration: none;
		}
		.link-contact {
			color: #3d91bd;
			display: block;
			font-family: Lato, sans-serif;
			font-size: 1em;
			font-style: italic;
			font-weight: 300;
			margin-top: 4px;
			text-decoration: none;
		}
		.link:hover {
			border-bottom-style: solid;
			border-bottom-width: 1px;
			color: #3595cc;
		}
		.link-contact:hover {
			text-decoration: underline;
		}
		.link._1 {
			display: inline-block;
			margin: 5px 0 0 0;
			padding-top: 0;
		}
		.link._2 {
			margin-top: 0;
			float: right;
			clear: none;
			direction: rtl;
			font-style: italic;
			text-align: right;
		}
		.link._3 {
			left: 0;
			top: 0;
			right: auto;
			display: inline;
			float: none;
			clear: none;
			text-shadow: none;
		}
		.bottom-footer-link {
			color: #3d91bd;
			display: inline-block;
			font-size: 12px;
			margin-right: 23px;
			padding: 0 1px;
			text-align: center;
		}
		.lateral {
			margin-right: 10%;
			margin-left: 10%;
		}
		.leyenda {
			color: white;
			font-family: 'Lato';
			padding-top: 20px;
			padding-right: 0;
			font-size: 0.5em;
			font-weight: 200;
			line-height: 21px;
		}
		.logo-inicio {
			padding-top: 15px;
			padding-bottom: 0;
		}
	/* .m */
		.mini_field {
			height: 37px;
		}
		.menu-button {
			position: fixed;
			top: 0px;
			right: 10px;
			margin-top: 0px;
			margin-right: auto;
			padding-top: 10px;
			padding-bottom: 10px;
			border-radius: 0px 0px 5px 5px;
			background-color: rgba(8, 7, 7, 0.4);
			color: #adadad;
		}
		.menu-button.w--open {
			position: fixed;
			display: block;
			margin-right: 15px;
			margin-left: 31px;
			background-color: rgba(0, 0, 0, 0.65);
		}
		.menu-icon {
			display: block;
			float: right;
			color: white;
		}
		.menu-text {
			display: inline-block;
			margin: 0px 13px 0px 1px;
			padding-top: 4px;
			padding-right: 8px;
			padding-bottom: 0px;
			float: right;
			border-right-style: solid;
			border-right-width: 1px;
			border-bottom-style: none;
			border-bottom-width: 1px;
			font-family: Lato, sans-serif;
			color: white;
			font-size: 15px;
			line-height: 16px;
			font-weight: 300;
			letter-spacing: 0px;
			text-decoration: none;
		}
		.menu-text-2 {
			color: #FFF;
			font-family: Lato,sans-serif;
			font-style: italic;
			font-weight: 300;
			margin: 30px 10px 20px 10px;
		}
	/* .n */
		.navbar {
			background-color: black;
			-webkit-transition: background-color 500ms ease;
			        transition: background-color 500ms ease;
			color: rgba(76, 83, 92, 0.29);
			height: 37px;
			left: 0;
			margin-bottom: 2px;
			padding-top: 0;
			padding-bottom: 0;
			position: fixed;
			right: 0;
			top: 0;
		}
		.navbar:hover {
			background-color: rgba(8, 7, 7, 1);
		}
		.nav-link {
			border-radius: 0;
			background-color: transparent;
			-webkit-transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
			        transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
			color: white;
			font-family: Lato, sans-serif;
			font-weight: 300;
			font-size: 13px;
			display: block;
			letter-spacing: 2px;
			line-height: 1em;
			padding: 9px 3px;
			position: static;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
		}
		.nav-link:hover {
			border-bottom: 1px solid white;
			background-color: rgba(131, 139, 156, 0.4);
			color: white;
			font-weight: 400;
			text-decoration: none;
		}
		.nav-link.w--current {
			border-bottom: 1px solid white;
			border-radius: 0;
			border-bottom-style: solid;
			background-color:  rgba(131, 139, 156, 0.4);
			color: white;
			display: block;
			font-weight: 400;
			line-height: normal;
			margin: auto;
			position: static;
			padding: 9px 3px;
		}
		.nav-link.w--current:hover {
			margin: 0;
			padding: 9px 3px;
			border-bottom: 1px solid white;
			background-color: rgba(255, 255, 255, 0.90);
			color: black;
		}
		.nav-link.w--current:focus {
			background-color: white;
			color: black;
			font-weight: 700;
		}
		.nav-menu-container {
			background-color: rgba(0, 0, 0, 1);
			bottom: 0;
			color: #838b9c;
			font-family: 'Lato', sans-serif;
			letter-spacing: 2px;
			position: fixed;
			right: 0;
			top: 0;
			text-align: center;
			width: 177px;
		}
		.nosotros-cargo {
			padding-right: 0px;
			color: white;
			font-size: 17px;
			line-height: 25px;
			text-align: center;
		}
	/* .o */
	/* .p */
		.page-content {
			margin-right: 176px;
			padding-top: 20px;
			padding-bottom: 121px;
			float: none;
		}
		.page-content.servicios {
			padding-bottom: 120px;
		}
		.page-content.section_gourmet {
			border-style: solid solid none;
			border-width: 1px;
			border-color: rgba(0, 0, 0, 0.09);
			margin-right: 176px;
			margin-left: auto;
			padding-top: 60px;
			padding-bottom: 120px;
		}
		.page-intro-container {
			position: relative;
			top: -180px;
			z-index: 200;
		}
		.page-intro-container.home {
			box-shadow: none;
			text-shadow: none;
		}
		.page-intro-container.ambient {
			margin-top: -60px;
			margin-right: 176px;
			padding-top: 0px;
			box-shadow: none;
			text-shadow: none;
		}
		.page-title {
			display: block;
			margin: 0;
			padding: 0;
			box-shadow: none;
			font-family:'Great Vibes', cursive;
			color: #faefd2;
			font-size: 102px;
			line-height: 87px;
			font-weight: 400;
			text-align: center;
			letter-spacing: 1px;
			text-shadow: rgba(0, 0, 0, 0.63) 6px 0px 17px, black 1px -1px 2px;
		}
		/* .page-title */
			.h1-services {
				margin: 100px 0 15px 0;
				line-height: 0.3em;
			}
			.h2-services {
				font-size: 3.5em;
				font-weight: 200;
				line-height: normal;
			}
			.h2-testimony {
				font-size: 4em;
			}
			.nosotros {
				font-family: Lato, sans-serif;
				font-size: 40px;
				font-weight: 200;
				letter-spacing: 0;
				line-height: 1.2em;
				margin: 150px 0 -1px;
				padding: 50px 250px 0 50px;
				text-align: center;
			}
		.page-title.negative {
			box-shadow: none;
			color: #4f4e4e;
			font-weight: 900;
			margin: 40px 0 10px 0;
			text-shadow: rgba(255, 255, 255, 0.29) 0 0 4px;
		}
		.page-title.negative-small {
			box-shadow: none;
			color: black;
			font-size: 30px;
			font-weight: 400;
			margin-top: -30px;
			text-shadow: rgba(255, 255, 255, 0.29) 0px 0px 4px, rgba(8, 8, 8, 0.81) 0px 0px 0px;
		}
		.h2-ambient {
			margin: 0 auto;
			font-size: 3.5em;
			line-height: 0.9em;
		}
		.page-title.ambient {
			margin-top: -90px;
		}
		.page-title.testimonio {
			margin: 0 0 30px 0;
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 50px;
		}
		.page-title.title_h1_deco {
			box-shadow: none;
			margin-top: 10px;
			padding-top: 0;
			padding-bottom: 21px;
			padding-left: 40px;
		}
		.page-title.title_gourmet {
			margin: -35% 0 0 0;
		}
		.portada_deco {
			margin: 10px 0 15px 5%;
			padding-bottom: 15px;
			font-family: Inconsolata, monospace;
			color: #120012;
			font-size: 20px;
			text-align: center;
		}
		.portada_deco-2 {
			color: #120012;
			font-family: Inconsolata, monospace;
			font-size: 1.5em;
			line-height: 1.2em;
			margin: 0 0 0 5%;
			padding-bottom: 15px;
			text-align: center;
		}
		.profile-block {
			padding-top: 37px;
			padding-left: 35px;
			border-style: solid;
			border-width: 1px;
			border-color: rgba(117, 117, 117, 0.09);
			background-color: rgba(227, 230, 232, 0.49);
		}
		.testimonios {
			margin-top: 20px;
		}
		.testimonios-2 {
			background-color: white;
			margin-top: 20px;
		}
		.profile-image {
			display: block;
			width: auto;
			height: auto;
			max-width: 100%;
			margin: -79px auto 25px;
			border-style: solid;
			border-width: 8px;
			border-color: rgba(255, 255, 255, 0.2);
			border-radius: 75px;
		}
		.profile-image.small {
			width: 100px;
			margin-top: -15px;
			margin-right: 24px;
			margin-left: auto;
			float: left;
			border-style: solid;
			border-color: white;
		}
		.profile-image.small._1 {
			border-radius: 5px;
			height: 90px
		}
		.profile-image.small._2 {
			border-color: rgba(131, 139, 156, 0.2);
			border-radius: 5px;
			float: right;
			height: 90px;
			text-shadow: none
		}
	/* .q */
		.quote-text {
			display: inline-block;
			margin-top: 10px;
			margin-bottom: 50px;
			padding-right: 14px;
			float: right;
			clear: none;
			font-family: Inconsolata, monospace;
			color: #616d80;
			font-size: 17px;
			line-height: 38px;
			text-shadow: none;
		}
		.quote-text-2 {
			margin-bottom: 2%;
		}
		.quote-text.testimonio {
			color: black;
			font-family: sans-serif;
			font-size: 15px;
			font-weight: 300;
			line-height: 32px;
			letter-spacing: 1px;
		}
	/* .s */
		.section-title {
			margin-top: 0px;
			margin-bottom: 50px;
			box-shadow: none;
			font-family: Lato, sans-serif;
			color: #485c7a;
			font-weight: 300;
			text-align: right;
			text-shadow: none;
		}
		.section-title._2 {
			margin-top: 0px;
			margin-bottom: 0px;
			padding-top: 10px;
			box-shadow: none;
			font-size: 24px;
			text-shadow: none;
		}
		.section-title._2.izqda {
			box-shadow: none;
			text-align: left;
			text-shadow: none;
		}
		.section-title._3 {
			display: inline;
			margin-top: 9px;
			margin-bottom: 10px;
			padding: 6px 15px 7px;
			float: none;
			border-radius: 3px;
			background-color: #e4ebf2;
			box-shadow: none;
			font-family: Lato, sans-serif;
			color: #838d9c;
			font-size: 23px;
			font-weight: 300;
			text-align: left;
			text-shadow: none;
		}
		.section-title._4 {
			box-shadow: none;
			font-family:'Great Vibes', cursive;
			font-style: normal;
			font-weight: 400;
			text-shadow: none;
		}
		.slider-section {
			background-color: #120012;
		}
		.slider-arrow {
			position: static;
			left: 0px;
			top: 0px;
			z-index: 150;
			display: inline-block;
			width: 24px;
			height: 24px;
			padding-top: 3px;
			border-radius: 3px;
			background-color: transparent;
			-webkit-transition: background-color 500ms ease;
			        transition: background-color 500ms ease;
			font-size: 18px;
		}
		.slider-arrow:hover {
			background-color: rgba(0, 0, 0, 0.2);
		}
		.social-icon {
		position: fixed;
		display: block;
		width: auto;
		margin: 0 0 0 10px;
		padding: 0;
		float: none;
		}
		.success-message {
			padding-top: 18px;
			border-radius: 3px;
			background-color: #8fc93c;
			text-align: center;
		}
		.success-text {
			margin-top: 0px;
			margin-bottom: -20px;
			padding-top: 20px;
			font-family: Lato, sans-serif;
			color: #8ecc87;
			font-size: 23px;
			font-style: italic;
			text-shadow: none;
		}
	/* .t */
		.text_contact {
			left: 23%;
			display: block;
			text-shadow: none;
		}
		/*.text_contact*/
			.form-media {
				font-family: 'Lato';
				font-size: 1.4em;
				line-height: 25px;
				margin: 0 0 7px -70px;
				padding: 11px 0;
				text-align: right;
			}
			.form-media-2 {
				font-family: 'Lato';
				font-size: 1.4em;
				margin: 0 0 9px -70px;
				padding: 12px 0;
				text-align: right;
			}
		.title-h4-contact {
			font-family: "Great Vibes",cursive;
		}
		.title_2_columns {
			text-align: center;
		}
		.tweet {
			margin-top: 0px;
			margin-bottom: 0px;
			padding-top: 4px;
			padding-right: 50px;
		}
/* # */
/* @media */
@media screen and (max-width: 1140px) {
	.blocks-row {
		max-width: 95%;
	}
	.blue-link-group {
		margin: 0 50px 0 0;
	}
	.barra_superior.ambient {
		display: inline-block;
		margin: 0 0 0 5%;
		vertical-align: top;
	}
	/* .barra_superior */
		.decor {
			margin-left: 18.2%;
		}
	.barra_superior.inicio {
		margin: -37px 200px 0 20%;
	}
	.barra_superior.servicios {
		margin: -37px 200px 0 17%;
	}
	.bottom-footer-block {
		padding: 18px 0 20px 0;
	}
	.bottom-footer-link {
		font-size: 12px;
	}
	.button.boton_barra_superior {
		display: inline-block;
	}
	.button.boton_barra_superior.btn-ambient {
		display: none;
	}
	/*	.image-block.info_image_2_columns.imagen_drcha */
		.image_silla {
			min-height: 600px;
		}
	/* .image-block.right-image-2 */
		.toldo {;
			min-height: 570px;
		}
	.section-title {
		margin: 0 7% 0 5%;
		max-width: 95%;
	}
}
@media screen and (max-width: 991px) {
/*	tag */
		h5 {
			font-size: 20px;
		}
		p {
			margin-bottom: 0px;
			font-size: 15px;
			line-height: 26px;
		}
/*	class */
	/* .b */
		.barra_superior {
			display: none;
		}
		.bottom-footer-block {
			margin-top: 100px;
		}
		.button.boton_barra_superior.btn-ambient {
			display: inline-block;
			vertical-align: top;
		}
		.blue-link {
			font-size: 1em;
		}
		.btn-black {
			font-size: 0.3em;
			margin-left: 30%;
		}
		.btn-black-2 {
				font-size: 1.5em;
				margin-left: 50%;
			}
		/*.button*/
			.cta-2.portada.start {
				margin-left: 46%;
			}
			/* .cta-2 */
			.boton_barra_superior {
				height: 35px;
			}
			.negro {
				/*margin-left: -10%;*/
				padding: 5%;
			}
			.negro._1.testimonio {
				margin-top: -20px;
				margin-bottom: 0;
				margin-left: 14px;
				padding-bottom: 10px;
			}
			.negro._3 {
				margin-left: 55%;
				padding: 10px 0;
			}
			.portada {
				margin: 0 auto;
			}
			/* .cta-2 */
				.portada._4 {
					margin-left: 0;
				}
				.portada.inicio {
					margin: 20px 0 0 38%;
				}
			/* .cta-2.portada */
				.btn-services {
					margin: 10px 0 0 47%;
				}
				.btn-cover-gourmet {
					margin: 10px 0 0 25%;
				}
	/* .c */
		.cta-stripe {
			margin-right: 0;
		}	
	/* .d */
	/* .f */
		.footer {
			padding-top: 100px;
			width: 100%;
		}
	/* .g */
		.gourmet {
			box-shadow: none;
			font-family: Lato, sans-serif;
			font-size: 18px;
			font-style: normal;
			font-weight: 300;
			height: 300px;
			margin-bottom: 0;
		}
		.gourmet-quote {
			margin: 30px -28% 0 0;
			font-size: 0.5em;
			line-height: 1.5em;
		}
	/* .h */
		.h2_gourmet {
			margin: -30px 0 0 30%;
			font-size: 35px;
		}
		.h4-white {
			font-size: 0.3em;
			color: white;
		}
		.header {
			height: 100%;
		}
				.gourmet._2 {
				background-image: -webkit-linear-gradient(280deg, transparent 31%, rgba(18, 0, 18, 0.6) 55%, black 79%), url('../images/fondo_home_slide2_fonde_gourmet_2000x1200.jpg');
				background-image: linear-gradient(170deg, transparent 31%, rgba(18, 0, 18, 0.6) 55%, black 79%), url('../images/fondo_home_slide2_fonde_gourmet_2000x1200.jpg');
				background-position: 100% 100%;
				}
		.header-nosotros {
			background-color: black;
			background-position: 100% 50%;
			background-size: cover;
		}
		.home-slider {
			height: 800px;
		}
		.home-slide._2 {
			background-image: -webkit-linear-gradient(278deg, transparent 9%, #120012 90%), url('../images/editada-2.jpg');
			background-image: linear-gradient(172deg, transparent 9%, #120012 90%), url('../images/editada-2.jpg');
			background-size: cover;
		}
	/* .i */
		.inicio_arrow.arrow_drcha {
			margin-right: 0;
		}
		.image-block.info_image_2_columns.imagen_drcha.image_silla {
			min-height: 580px;
		}
		.image-block.imagen_drcha.internacional {
			min-height: 430px;
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 100px;
			padding-bottom: 30px;
			background-position: 50% 50%;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.image-block.imagen_drcha.image_criollo {
			min-height: 430px;
		}
		/* .image-block.right-image-2 */
			.toldo {
			min-height: 555px;
			}
		.image-logo-ambient {
			margin: 0 0 10px 20%;
		}
		.image-logo-gourmet {
			margin: 0 0 0 30%;
		}
		.image-logo-nosotros {
			display: block;
			margin: 5% 0 0 50%;
		}
		.image-logo-services {
			margin-left: 14%;
		}
		.info-block {
			min-height: 355px;
			padding-top: 20px;
			padding-right: 20px;
			padding-left: 20px;
		}
		.intro-content {
			height: 410px;
			padding: 0 40px 50px 40px;
		}
		/*.intro-content*/
			.about-us {
				padding-bottom: 40px;
			}
			.stories {
				margin: 0;
				padding: 0;
			}
			.stories.gourmet {
					margin: -300px 0 0 0;
				}
		/* .intro-container */
			.intro {
				top: 240px;
				padding-right: 100px;
				padding-left: 100px;
			}
			/* .intro-container.intro */
			.contact {
				margin-left: 19%;
			}
			.pages {
				margin: 0 auto;
				font-size: 35px;
			}
			/* .pages */
				.gourmet {
					margin: 0 auto;
					padding: 130px 0 20px 0;
				}
				.deco {
					margin-top: -145px;
				}
		.image_logo_testimonios {
			margin-top: 0;
			margin-left: 20%;
		}
	/* .l */
		.lateral {
			margin-left: auto;
			margin-right: auto;
		}
		.leyenda {
			font-size: 0.8em;
			padding: 0;
			margin: 5% 0 0 55%;
		}
		.link {
			font-size: 1em;
		}
		.link-contact {
			font-size: 15px;
		}
		.link-contact.bottom-footer-link {
			font-size: 12px;
			margin-right: 13px;
		}
		.logo-inicio {
			margin-left: 10%;
			padding-top: 15px;
		}
	/* .m */
		.menu-icon {
			display: inline-block;
			padding-top: 0px;
			padding-bottom: 0px;
			padding-left: 0px;
			float: right;
			color: white;
			font-size: 35px;
		}
		.menu-button {
			display: block;
			width: auto;
			height: auto;
			margin-right: 0px;
			margin-left: 0px;
			padding: 10px 10px 5px 55px;
			border-radius: 3px;
			background-color: rgba(76, 83, 92, 0.2);
		}
		.menu-button:hover {
			background-color: rgba(76, 83, 92, 0.4);
		}
		.menu-button.w--open {
			background-color: rgba(76, 83, 92, 0.2);
		}
		.menu-text {
			display: inline-block;
			margin: 10px 0px 10px -45px;
			padding: 0px;
			float: right;
			clear: left;
		}
		.menu-text-2 {
			font-size: 0.9em;
			margin-top: 10px;
			margin-bottom: 0;
		}
	/* .n */
		.navbar {
			height: 35px;
			padding-right: 40px;
			padding-left: 40px;
		}
		.nav-link {
			border-style: solid;
			border-width: 2px;
			border-color: rgba(255, 255, 255, 0.2);
			color: white;
			font-size: 0.8em;
			font-weight: 300;
			margin-top: 5px;
			margin-right: 0;
			padding-left: 19px;
			text-align: center;
			width: 100%;
		}
		.nav-link:hover {
			background-color: rgba(255, 255, 255, 0.2);
			color: white;
		}
		.nav-link.w--current {
			background-color: white;
			color: black;
		}
		.nav-menu-container {
			padding: 20px 20px 50px;
			background-color: rgba(0, 0, 0, 1);
		}
	/* .p */
		.page-content {
			margin-right: 0;
			padding: 40px;
		}
		/* .page-content */
			.page-content.section_gourmet {
				margin-right: auto;
			}
		.page-intro-container {
			top: -120px;
		}
		.page-intro-container.home {
			top: -25px;
		}
		.page-title {
			margin: 70px 0 20px 5%;
			font-size: 1.7em;
			line-height: 65px;
			padding: 0;
		}
		/* .page-title */
			.ambient {
				font-size: 85px;
			}
			.h1-decor {
				font-size: 6em;
				margin: 0 0 0 33%;
			}
			.h1-ambient {
				font-size: 1.2em;
				line-height: 0.7em;
				margin: -100px 0 0 20%;
			}
			.h2-ambient {
				font-size: 0.5em;
				margin: 0 0 0 20%;
			}
			.h1-services {
				margin: 0 0 15px 15%;
				font-size: 3em;
				line-height: 0.3em;
			}
			.h2-services {
				margin: 0 0 0 15%;
				font-size: 1.3em;
			}
			.h1-testimony {
				font-size: 7em;
				margin: -150px -25% 0 0;
			}
			.h2-testimony {
				font-size: 3em;
				margin: 15px 0 0 25%;
			}
			.negative {
				font-size: 6em;
			}
			.negative-small {
				font-size: 4em;
				padding: 20px 0 0 0;
			}
			.nosotros {
				margin: 200px -50px 0 35%;
				padding: 0;
				font-size: 1.5em;
				line-height: 1.2em;
			}
			.servicio {
				margin:0;
				font-size: 45px;
			}
			.servicio.ambient {
				padding-left: 25px;
				font-size: 45px;
			}
			.testimonio {
				margin-top: -20px;
			}
			.title_gourmet {
				font-size: 2.8em;
				line-height: 0.9em;
				padding: 0 0 30px 25%;
			}
			.title_h1_deco {
				padding-left: 0;
				font-size: 78px;
				text-align: center;
			}
			.title-h1-start {
				font-size: 6em;
				margin: 0px 0px 0px 20%;
			}
		.portada_deco {
			margin: 0 -30% 0 0;
		}
		.portada_deco-2 {
			font-size: 1.3em;
			margin: 0 -30% 0 0;

		}
		.profile-image {
			margin-top: -65px;
		}
	/* .q */
		.quote-text {
			font-size: 1.2em;
			line-height: 29px;
			margin-left: 5%;
		}
		.quote-text-2 {
			font-size: 1.3em;
			line-height: 1.5em;
			margin: 2% 10%;
		}
	/* .s */
		.section-title {
			font-size: 60px;
			margin-top: -5px;
		}
		.section-title._3 {
			font-size: 20px;
		}
		.slider-arrow {
			position: relative;
			z-index: 100;
		}
	/* .t*/
	.text_contact {
			left: 23%;
			display: block;
		}
		/*.text_contact*/
			.form-media {
				margin: 15px 0 16px -70px;
				padding: 12px 0;
				font-size: 1.2em;
				line-height: 20px;
				text-align: right;
			}
			.form-media-2 {
				margin: 32px 0 0 -70px;
				padding: 12px 0;
				font-family: 'Lato';
				font-size: 1.2em;
				line-height: 20px;
				text-align: right;
			}
}
@media screen and (max-width: 767px) {
	/* Tags */
		p {
			margin-left: 5px;
		}
	/* .b */
		.blue-link {
			display: inline-block;
			margin: 0;
		}
		.bottom-footer-block {
			font-size: 12px;
			margin-top: 50px;
		}
		/* .button.cta-2 */
			.negro._3 {
				margin-left: 41%;
			}
			/* .button.cta-2.negro
				._3 {
					padding: 10px 0;
					width: 30%;
				} */
		 	.portada {
				margin: 0 auto;
				text-align: center;
			}
			/* .button.cta-2.portada */
				.btn-black {
					margin: 0 0 0 5%;
				}
				.btn-black-2 {
					margin-left: 40%;
				}
				.btn-services {
					margin-top: 10px;
				}
				.btn-cover-gourmet {
					margin: 20px 0 0 2%;
				}
				.start {
					border: 2px;
					margin: 0 auto;
					width: 30%;
				}
	/* .c */
		.contact-form-container {
			padding-right: 20px;
			padding-left: 20px;
		}
		.contact-page-map {
			height: 700px;
			padding-bottom: 0px;
		}
		.cta-2.portada.start {
			margin: 20px 0 0 35%;
			border: 2px solid;
		}
		.cta-2.negro {
			padding: 10px;
			width: 150px;
		}
		.cta-2.negro._3 {
			margin-left: 38%;
		}
		.cta-stripe {
			padding: 50px 40px;
		}
		.cta-stripe.separador_mesas {
			box-shadow: none;
			text-shadow: none;
		}
		.cta-container {
			text-shadow: none;
		}
		.cta-title {
			box-shadow: none;
			font-size: 45px;
		}
	/* .d */
		.divider-small {
			margin-top: 30px;
			margin-bottom: 30px;
		}
		.drcha {
			margin-right: 10px;
		}
	/* .f */
		.footer {
			padding-top: 50px;
		}
		.footer-column {
			padding-bottom: 20px;
		}
		.footer-icon {
			left: 8%;
		}
		.footer-row {
			margin-top: 30px;
		}
		.footer-text {
			width: 100%;
			text-align: center;
		}
	/* .g */
		.gourmet-quote {
			margin: 0;
			padding-top: 20px;
		}
		.gourmet_block {
			margin-top: 5px;
			margin-bottom: 5px;
		}
	/* .h */
		.header {
			height: 700px;
		}
		/* .header	*/
			.gourmet._2 {
				border-top: 1px solid rgba(0,0,0,0);
			}
		/* home-slide */
		.home-slide._2 {
		background-image: -webkit-linear-gradient(82deg, transparent 9%, #120012 80%), url('../images/editada-2.jpg');
		background-image: -webkit-linear-gradient(278deg, transparent 9%, #120012 80%), url('../images/editada-2.jpg');
		background-image: linear-gradient(172deg, transparent 9%, #120012 80%), url('../images/editada-2.jpg');
		}
		.home-slider {
			height: 700px;
		}
	/* .i */
		.image-block {
			min-height: 330px;
			margin-bottom: 20px;
		}
		/* .image-block */
			.imagen_drcha	{
				border-radius: 0 10px 10px 0;
				-moz-border-radius: 0 10px 10px 0;
				-webkit-border-radius: 0 10px 10px 0;
				margin: 0 0 0 -10px;
			}
			.sonido {
				background-size: cover;
				border-radius: 0 0 10px 10px;
				margin: 0 0 0 -5px;
			}
			/* .image-block.imagen_drcha */
				.internacional {
					margin-right: -10px;
					margin-left: -10px;
					border-top-right-radius: 0px;
					border-bottom-left-radius: 10px;
				}
				.image_criollo {
					margin-right: -10px;
					margin-bottom: 0;
					margin-left: -10px;
					border-top-right-radius: 0;
					border-bottom-left-radius: 10px;
				}
			/* .image-block.right-image-2 */
				.toldo {
					border-radius: 0 0 10px 10px;
					-moz-border-radius: 0 0 10px 10px;
					-webkit-border-radius: 0 0 10px 10px;
					margin: 0 0 0 -10px;
				}
			.image-logo-ambient {
				margin: 0;
			}
			.image-logo-services {
				margin-left: 0;
			}
			.image_marco_criollo {
				background-size: cover;
			}
			.image_sala_tradicional {
				background-position: center;
				background-size: cover;
			}
			.image_vintage {
				background-size: cover;
				background-repeat: no-repeat;
			}
			.info_image_2_columns {
				border-radius: 10px 10px 0 0;
			}	.info_image_2_columns.imagen_drcha.escultura_hielo {
				border-radius: 0 0 10px 10px;
				margin-left: -10px;
			}
			.info_image_2_columns.image_oriental {
				margin-right: 0;
				margin-left: 0;
				padding-right: 30px;
			}

			.info_image_2_columns.image_locaciones {
				background-size: cover;
				border-top-right-radius: 10px;
				border-bottom-left-radius: 0px
			}
		.image-block.info_image_2_columns.imagen_drcha.image_silla {
			border-radius: 0 0 10px 10px;
			margin-left: -10px;
			min-height: 360px;
		}
		.info-block {
			min-height: 1px;
			margin-bottom: 20px;
			padding-right: 30px;
			padding-left: 30px;
		}
		.info-column {
			padding-bottom: 20px;
			padding-left: 0px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.09);
		}
		.info-row {
			margin-bottom: 20px;
		}
		.intro-content {
			height: 200px;
			padding-bottom: 0px;
		}
		.intro-content.about-us {
			margin-top: -1px;
			padding-top: 0px;
			padding-bottom: 0px;
		}
		.intro-content.contact-page {
			height: 900px;
		}
		.intro-container.intro {
			top: 160px;
			padding-right: 70px;
			padding-left: 70px;
			box-shadow: none;
			text-shadow: none;
		}
		.intro-container.intro.contact {
			margin-left: 2.7%;
		}
		.intro-container.intro.inicio {
			top: 270px;
		}
		.intro-container.intro.testimony {
			margin: ;
		}
		.intro-container.pages {
			margin-top: -90px;
			margin-bottom: 1px;
			padding-right: 80px;
			padding-left: 0;
		}
		.image-logo-gourmet {
			margin: 0;
		}
		.image-logo-nosotros {
			margin-left: 30%;
		}
		.image_logo_testimonios {
			margin-left: 0;
		}
	/* .l */
		.lateral {
		}
		.logo-inicio {
			margin: 0;
			padding-top: 10px;
		}
		.leyenda {
			margin-left: 25%;
		}
		.link {
			display: block;
			margin: 0 5% 0 0;
			text-align: center;
		}
		.link-contact {
			display: inline-block;
			margin: 0 1px;
			padding: 0;
			vertical-align: top;
		}
		.link._1 {
			margin: 0 1%;
		}
	/* .m */
		.menu-button {
			margin-top: 0px;
		}
		.menu-button.w--open {
			float: right;
		}
		.movil_label_form {
			text-shadow: none;
		}
	/* .n */
		.nosotros.leyenda {
			margin-right: 0;
		}
	/* .p */
		.p-contacto {
			margin: 0 auto;
			text-align: center;
			width: 100%;
		}
		.page-content {
			padding-top: 30px;
			padding-right: 30px;
			padding-left: 30px;
		}
		.page-intro-container.home {
			box-shadow: none;
			text-shadow: none;
		}
		.page-title {
			margin: 0 0 10px 0;
			font-size: 80px;
			line-height: 55px;
		}
		/* .page-title */
			.h1-services {
				line-height: 0.3em;
				margin: 0 0 15px 0;
			}
			.h2-ambient {
				font-size: 0.4em;
				margin: 0 0 0 5%;
			}
			.h2_gourmet {
			margin: 0 auto;
		}
			.h2-services {
				font-size: 1.3em;
			}
			.h2-testimony {
				font-size: 3em;
			}
			.nosotros {
				margin: 250px -5px 0 27%;
				font-size: 1.4em;
				line-height: 1.3em;
			}
			.profile-image {
				margin-top: -50px;
			}
			.testimonio {
				margin-top: -5px;
				margin-left: 25px;
				padding-left: 25px;
				box-shadow: none;
			}
			.title_h1_deco {
				box-shadow: none;
				font-size: 65px;
			}
			.title-h1-start {
				font-size: 4.5em;
			}
			.title_gourmet {
				font-size: 2em;
				padding: 20% 0 0 0;
			}
		.portada_deco {
			font-size: 0.2em;
			margin: 0 -5% 0 5%;
		}
		.portada_deco-2 {
			font-size: 1.2em;
			line-height: 1.2em;
			margin: 10px -5% 10px 5%;
		}
	/* .s */
		.section-title {
			margin-bottom: 30px;
			font-family:'Lato';
			font-size: 3em;
		}
		.section-title._2 {
			font-size: 1.5em;
		}
		.stories.gourmet {
			margin-top: -540px;
		}
}
@media screen and (max-width: 479px) {
	/* Tags */
		h1 {
			font-size: 4em;
		}
		h2 {
			font-size: 3em;
		}
		h5 {
			margin-left: 7px;
		}
		p {
			margin-left: 10px;
		}
	/* .b */
		.block-column {
			padding-right: 0px;
			padding-left: 0px;
			border-bottom-right-radius: 10px;
		}
		.blocks-row.info_fondo_gris {
			margin-left: 0;
		}
		.buffet_text {
			text-shadow: none;
		}
		.button {
			margin: 0 auto;
			width: 40%;
		}
		/* .button */
			.cta-1 {
				width: 150px;
			}
			.cta-2 {
				width: 40%;
				margin-top: 5px;
				margin-left: 0;
				text-shadow: none;
			}
			/* .cta-2 */
				.portada {
					margin: 0 auto;
				}
			/* .cta-2.portada */
				.btn-services {
					margin-top: 15px;
				}
			.cta-2.portada.start {
				margin-left: 30%;
			}
			.cta-2.portada._4 {
				left: 26%;
				margin-bottom: 0;
				margin-left: 0;
			}
			.cta-2.negro._1.testimonio.w--current {
				margin-left: -40px;
			}
			.subir {
				width: 10px;
			}
	/* .c */
		.contact-page-map {
			height: 400px;
			padding-top: 79px;
			padding-bottom: 0;
		}
		.contact-form-container {
			padding-right: 10px;
			padding-left: 10px;
		}
		.cta-stripe {
			padding-right: 25px;
			padding-left: 25px;
			background-position: 50% 50%;
		}
		.cta-title {
			font-size: 2.5em;
			font-weight: lighter;
			line-height: 1em;
		}
	/* .d */
	/* .g */
		.gourmet {
			margin-top: 25px;
			box-shadow: none;
		}
		.gourmet_block {
			margin-top: 5px;
			margin-bottom: 5px;
		}
		.gourmet-quote {
			font-size: 0.9em;
			font-weight: 200;
			margin: 0 0 15px 0;
		}
	/* .h */
		.h5_drcha {
		}
		.header {
			padding-top: 500px;
			padding-bottom: 170px;
		}
		.header.ambient {
			background-image: -webkit-linear-gradient(275deg, rgba(250, 239, 210, 0) 43%, #faefd2 95%), url('../images/Ambientacion_web_0.jpg');
			background-image: linear-gradient(175deg, rgba(250, 239, 210, 0) 43%, #faefd2 95%), url('../images/Ambientacion_web_0.jpg');
		}
		.header.contact-page {
			height: 200px;
			margin-top: -200px;
			background-image: -webkit-linear-gradient(rgba(211, 220, 227, 0) 43%, #e4e8ed 92%);
			background-image: linear-gradient(rgba(211, 220, 227, 0) 43%, #e4e8ed 92%);
		}
		.header.deco {
			background-image: -webkit-linear-gradient(275deg, transparent 29%, rgba(250, 239, 210, 0.2) 58%, #faefd2 86%), url('../images/Decoracion_web_0.jpg');
			background-image: linear-gradient(175deg, transparent 29%, rgba(250, 239, 210, 0.2) 58%, #faefd2 86%), url('../images/Decoracion_web_0.jpg');
		}
		.header-nosotros {
			margin-top: -50px;
			padding-top: 150px;
			background-size: cover, 1000px;
		}
		.home-slider {
			height: 400px;
		}
	/* .i */
		/* .image-block */
			.info_image_2_columns {
			margin-left: 1px;
		}
			/*.image-block.imagen_drcha*/
				.boda_playa {
					margin-left: 1px;
				}
				.boda_simbolica {
					margin: 0 0 0 2px;
					padding-bottom: 30px;
					border-top-right-radius: 0;
					border-bottom-left-radius: 10;
					background-repeat: no-repeat;
				}
		.image-block.info_image_2_columns.aniversario {
			margin-left: 0px;
			border-top-right-radius: 10px;
			border-bottom-left-radius: 0px;
			-webkit-transform: none;
			-ms-transform: none;
			    transform: none;
		}
		.image-block.info_image_2_columns.image_oriental {
			margin-left: 0px;
			padding-left: 30px;
			border-top-right-radius: 10px;
			border-bottom-left-radius: 0px;
			-webkit-transform: none;
			-ms-transform: none;
			    transform: none;
		}
		.image-block.info_image_2_columns.image_luces {
			min-width: 272px;
			margin-left: -10px;
			border-top-right-radius: 10px;
			border-bottom-left-radius: 0px;
		}
		.image-block.info_image_2_columns.image_locaciones {
			-webkit-transform: none;
			-ms-transform: none;
			    transform: none;
		}
		.image-block.imagen_drcha.toldo {
			margin-right: -10px;
			margin-bottom: 0px;
			margin-left: -10px;
			padding-left: 32px;
			border-top-right-radius: 0px;
			border-bottom-left-radius: 10px;
			background-position: 50% 0px;
			background-repeat: no-repeat;
		}
		.image-block.imagen_drcha.internacional {
			margin-right: -10px;
			margin-bottom: 0px;
			margin-left: -10px;
			padding-right: 31px;
			border-top-right-radius: 0px;
			border-bottom-left-radius: 10px;
		}
		.image-block.imagen_drcha.image_criollo {
			margin-right: -10px;
			margin-bottom: 0px;
			margin-left: -10px;
			border-top-right-radius: 10px;
			border-bottom-left-radius: 10px;

		}
		.image-block.boda_clasica {
			margin-left: 0px;
			border-top-right-radius: 10px;
			border-bottom-left-radius: 0px;
			-webkit-transform: none;
			-ms-transform: none;
			    transform: none;
		}
		.image-block.image_entremes_caliente {
			-webkit-transform: none;
			-ms-transform: none;
			    transform: none;
		}
		.sonido {
			margin: 0;
		}
		.image-block.image_arreglos {
			-webkit-transform: none;
			-ms-transform: none;
			    transform: none;
		}
		.image-logo-gourmet {
			max-width: 220px;
			margin-top: 14px;
			margin-left: -10px;
		}
		.image-logo-nosotros {
			margin: 5% 2% 0 15%;
		}
		.image_logo_testimonios {
			margin-left: -20px;
			padding-left: 0px;
		}
		.info-block.buffet_box {
			text-shadow: none;
		}
		.info-row {
			margin-bottom: 10px;
		}
		.intro-content {
			height: auto;
			padding-right: 25px;
			padding-bottom: 30px;
			padding-left: 25px;
		}
		.intro-content.contact-page {
			height: 100%;
		}
		.intro-content.stories {
			height: auto;
			margin: -700px 0 10px 0;
		}
		.intro-content.story-detail {
			height: 280px;
		}
		.intro-container.intro {
			top: 115px;
			margin-top: -1px;
			margin-bottom: -280px;
			padding-right: 30px;
			padding-left: 30px;
		}
		.intro-container.intro.inicio {
			top:140px;
		}
		.intro-container.pages {
			margin-top: 0px;
			margin-bottom: -1px;
			padding: 0px 20px;
		}
		.intro-container.pages.gourmet {
			margin-top: -150px;
			padding-top: 0;
			box-shadow: none;
		}
		.intro-container.pages.servicios {
			margin-top: -120px;
		}
		.intro-container.pages.ambient {
			margin-top: -77px;
			padding: 0px 20px 0px 0px;
			background-image: none;
			background-position: 0% 0%;
			background-size: auto;
			background-repeat: repeat;
			background-attachment: scroll;
		}
		.intro-container.cta_servicios {
			margin-top: 0px;
			padding-top: 0px;
		}
	/* .l */
		.link {
			display: inline-block;
			float: none;
			text-shadow: none;
		}
		.link-contact.bottom-footer-link {
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 10px;
			margin-left: 5px;
		}
	/* .m */
		.menu-button {
			margin-top: 0px;
			padding-left: 10px;
		}
		.menu-button.w--open {
			display: block;
		}
		.movil_label_form {
		}
	/* .n */
		.navbar {
			display: block;
			padding-top: 0px;
		}
		.nav-menu-container {
			padding-left: 20px;
		}
		.nosotros.leyenda {
			margin: 7% 2% 0 30%;
		}
		.nosotros-cargo {
			margin-top: 1px;
		}
	/* .p */
		.page-title {
			font-size: 2.3em;
			line-height: 0.3em;
		}
		/* .page-title */
			.h1-ambient {
				font-size: 1em;
				margin-top: -280px;
			}
			.h1-decor {
				font-size: 4.5em;
				line-height: 0.7em;
				margin: -200px 0 0 0;
			}
			.h1-testimony {
				font-size: 6em;
				line-height: 0.7em;
				margin-top: -80%;
			}
			.h2-ambient {
				font-size: 0.5em;
				line-height: 1.5em;
				margin: 0 0 0 5%;
			}
			.h2_gourmet {
				font-size: 0.7em;
				line-height: 0.7em;
				margin: 10px 10px;
			}
			.h2-services {
				font-size: 1.2em;
				line-height: normal;
				margin-bottom: 0;
			}
			.negative {
				font-size: 4em;
			}
			.negative-small {
				padding-top: 46px;
				font-size: 3em;
			}
			.servicio.ambient {
				margin-top: 0px;
				margin-right: 0px;
				margin-bottom: 0px;
				padding-top: 0px;
				padding-bottom: 10px;
				padding-left: 0px;
				box-shadow: none;
				font-size: 32px;
			}
			.nosotros {
				font-size: 1.4em;
				line-height: 1.1em;
				margin: 110px 10px 0 10%;
			}
			.testimonio {
				margin-left: -30px;
				box-shadow: none;
			}
			.title_h1_deco {
				margin-top: -80px;
				margin-left: 0px;
				padding-top: 0px;
				padding-bottom: 0px;
				box-shadow: none;
				font-size: 55px;
				line-height: 41px;
			}
			.title_gourmet {
				margin: 0;
				padding: 0;
				font-size: 60px;
				line-height: 58px;
			}
			.title-h1-start {
				font-size: 3.5em;
				line-height: 1em;
			}
		.page-content {
			padding: 30px 25px;
		}
		.page-content.section_gourmet {
			margin-top: 0px;
		}
		.profile-image.small {
			width: 60px;
			margin-top: 6px;
		}
		.profile-block {
			padding-top: 25px;
			padding-left: 16px;
		}
		.portada_deco {
			margin: 0 0 0 3.5%;
		}
		.portada_deco-2 {
			margin: 0 0 0 3.5%;
		}
		.page-intro-container {
			top: 0;
		}
		.page-intro-container.home {
			top: 0;
		}
		.page-intro-container.ambient {
			margin-top: 0;
		}
	/* .s */
		.section-title {
			margin-top: 9px;
			font-size: 40px;
			line-height: 38px;
		}
		.section-title._2 {
			margin-bottom: 10px;
		}
		.section-title._3 {
			text-align: center;
		}
		.section-title._4 {
			margin-top: 15px;
		}
}
/* Mini contact form */
	.c_error{
		color: orange;
		font-size: 12px;
		font-weight: 300;
	}
	.hide{
	display:none;
	}
	#bottom_container{
		overflow: hidden;
	}
	#botonEnviar {
		margin-left: 22%;
	}
	#c_enviar{
		margin: 4px 0 0 0;
	}
	#c_form textarea{
		margin: 4px 0;
		resize: none;
		width: 100%;
	}
	#c_information{
		border: solid 2px #fff;
		background: white;
		color: #04EF28;
		font-size: 14px;
		font-weight: 300;
		margin: 0;
		opacity: 0.9;
		padding-top: 0;
		padding-left: 5px;
		text-align: center;
	}
	#c_name{
		margin: 0 0 4px 0;
	}
	#contactform{
		overflow: hidden;
	}
	#formContenedor {
		margin-right: 7%;
	}
/* Great contact form */
	form label.error {
		margin-top: -0.5em;
		margin-bottom: 1em;
		font-size: 1.2rem;
		line-height: 1.2rem;
		color: rgb(192, 57, 43);
	}
	.required {
		color: #e9266d;
	}
	#error span p {
		color: rgb(192, 57, 43);
		font-size: 2.1em;
		font-weight: 400;
		line-height: 1.1em;
	}
	#success, #error {
		display:none;
	}
	#success span p {
		color: rgb(155, 211, 45);
		font-size: 2.1em;
		font-weight: 400;
		line-height: 1.1;
	}
